<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167758271015-r61huali83hju3msv654bpt6delqofgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167758271015-r61huali83hju3msv654bpt6delqofgh</string>
	<key>API_KEY</key>
	<string>AIzaSyC4uxQfwtBPgWbmPf_3BuEfRdK7ezzHPxE</string>
	<key>GCM_SENDER_ID</key>
	<string>167758271015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dkrishna.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios-e1582</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios-e1582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167758271015:ios:87759b611e7d0b4c24b402</string>
</dict>
</plist>